<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>18</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>1</string>
		<key>SoundBoardPosition</key>
		<integer>0</integer>
		<key>SoundBoardSection</key>
		<integer>0</integer>
	</dict>
	<key>19</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>2</string>
		<key>SoundBoardPosition</key>
		<integer>1</integer>
		<key>SoundBoardSection</key>
		<integer>0</integer>
	</dict>
	<key>20</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>3</string>
		<key>SoundBoardPosition</key>
		<integer>2</integer>
		<key>SoundBoardSection</key>
		<integer>0</integer>
	</dict>
	<key>21</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>4</string>
		<key>SoundBoardPosition</key>
		<integer>3</integer>
		<key>SoundBoardSection</key>
		<integer>0</integer>
	</dict>
	<key>23</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>5</string>
		<key>SoundBoardPosition</key>
		<integer>4</integer>
		<key>SoundBoardSection</key>
		<integer>0</integer>
	</dict>
	<key>22</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>6</string>
		<key>SoundBoardPosition</key>
		<integer>5</integer>
		<key>SoundBoardSection</key>
		<integer>0</integer>
	</dict>
	<key>26</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>7</string>
		<key>SoundBoardPosition</key>
		<integer>6</integer>
		<key>SoundBoardSection</key>
		<integer>0</integer>
	</dict>
	<key>28</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>8</string>
		<key>SoundBoardPosition</key>
		<integer>7</integer>
		<key>SoundBoardSection</key>
		<integer>0</integer>
	</dict>
	<key>12</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>q</string>
		<key>SoundBoardPosition</key>
		<integer>0</integer>
		<key>SoundBoardSection</key>
		<integer>1</integer>
	</dict>
	<key>13</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>w</string>
		<key>SoundBoardPosition</key>
		<integer>1</integer>
		<key>SoundBoardSection</key>
		<integer>1</integer>
	</dict>
	<key>14</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>e</string>
		<key>SoundBoardPosition</key>
		<integer>2</integer>
		<key>SoundBoardSection</key>
		<integer>1</integer>
	</dict>
	<key>15</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>r</string>
		<key>SoundBoardPosition</key>
		<integer>3</integer>
		<key>SoundBoardSection</key>
		<integer>1</integer>
	</dict>
	<key>17</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>t</string>
		<key>SoundBoardPosition</key>
		<integer>4</integer>
		<key>SoundBoardSection</key>
		<integer>1</integer>
	</dict>
	<key>16</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>y</string>
		<key>SoundBoardPosition</key>
		<integer>5</integer>
		<key>SoundBoardSection</key>
		<integer>1</integer>
	</dict>
	<key>32</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>u</string>
		<key>SoundBoardPosition</key>
		<integer>6</integer>
		<key>SoundBoardSection</key>
		<integer>1</integer>
	</dict>
	<key>34</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>i</string>
		<key>SoundBoardPosition</key>
		<integer>7</integer>
		<key>SoundBoardSection</key>
		<integer>1</integer>
	</dict>
	<key>0</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>a</string>
		<key>SoundBoardPosition</key>
		<integer>0</integer>
		<key>SoundBoardSection</key>
		<integer>2</integer>
	</dict>
	<key>1</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>s</string>
		<key>SoundBoardPosition</key>
		<integer>1</integer>
		<key>SoundBoardSection</key>
		<integer>2</integer>
	</dict>
	<key>2</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>d</string>
		<key>SoundBoardPosition</key>
		<integer>2</integer>
		<key>SoundBoardSection</key>
		<integer>2</integer>
	</dict>
	<key>3</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>f</string>
		<key>SoundBoardPosition</key>
		<integer>3</integer>
		<key>SoundBoardSection</key>
		<integer>2</integer>
	</dict>
	<key>5</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>g</string>
		<key>SoundBoardPosition</key>
		<integer>4</integer>
		<key>SoundBoardSection</key>
		<integer>2</integer>
	</dict>
	<key>4</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>h</string>
		<key>SoundBoardPosition</key>
		<integer>5</integer>
		<key>SoundBoardSection</key>
		<integer>2</integer>
	</dict>
	<key>38</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>j</string>
		<key>SoundBoardPosition</key>
		<integer>6</integer>
		<key>SoundBoardSection</key>
		<integer>2</integer>
	</dict>
	<key>40</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>k</string>
		<key>SoundBoardPosition</key>
		<integer>7</integer>
		<key>SoundBoardSection</key>
		<integer>2</integer>
	</dict>
	<key>50</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>`</string>
		<key>SoundBoardPosition</key>
		<integer>0</integer>
		<key>SoundBoardSection</key>
		<integer>3</integer>
	</dict>
	<key>6</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>z</string>
		<key>SoundBoardPosition</key>
		<integer>1</integer>
		<key>SoundBoardSection</key>
		<integer>3</integer>
	</dict>
	<key>7</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>x</string>
		<key>SoundBoardPosition</key>
		<integer>2</integer>
		<key>SoundBoardSection</key>
		<integer>3</integer>
	</dict>
	<key>8</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>c</string>
		<key>SoundBoardPosition</key>
		<integer>3</integer>
		<key>SoundBoardSection</key>
		<integer>3</integer>
	</dict>
	<key>9</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>v</string>
		<key>SoundBoardPosition</key>
		<integer>4</integer>
		<key>SoundBoardSection</key>
		<integer>3</integer>
	</dict>
	<key>11</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>b</string>
		<key>SoundBoardPosition</key>
		<integer>5</integer>
		<key>SoundBoardSection</key>
		<integer>3</integer>
	</dict>
	<key>45</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>n</string>
		<key>SoundBoardPosition</key>
		<integer>6</integer>
		<key>SoundBoardSection</key>
		<integer>3</integer>
	</dict>
	<key>46</key>
	<dict>
		<key>KeyboardKeyLabel</key>
		<string>m</string>
		<key>SoundBoardPosition</key>
		<integer>7</integer>
		<key>SoundBoardSection</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
